@inherits LayoutComponentBase

<header class="stylish-regular">
    <nav class="nav">
        <h4><a href="/"> Tarea 10</a></h4>
        <ul>
            <li><a href="/"> Inicio</a></li>
            <li><a href="/"> Inicio</a></li>
            <li><a href="/"> Inicio</a></li>
        </ul>
    </nav>
</header>

<main class="stylish-regular">@Body</main>

<footer>
    &copy; Jose Manuel Santillan 2023-1156
</footer>
