@page "/acerca_de"

<h3>Contacto</h3>
<div class="text-center">
    <a href="https://wa.me/18098493490?text=Hola%20Te%20contacto%20para%20un%20trabajo%20bueno,%20te%20pagaremos%20mucho%20dinero"
        class="btn btn-success" target="_blank">
        <i class="fa-brands fa-whatsapp"></i>
        Whatsapp
        </a>
    <a href="https:/t.me/jose_M1156?text=Hola%20Te%20contacto%20para%20un%20trabajo%20bueno,%20te%20pagaremos%20mucho%20dinero"
        class="btn btn-primary" target="_blank">
        <i class="fa-brands fa-telegram"></i>
        Telegram
        </a>

</div>

<h4 class="paraelfloat">   
    Nombre: Jose Manuel Santillan
    
</h4>

<h4 class="paraelfloat">
    Matricula: 2023-1156
</h4>

<div>
    <img src="/images/IMG_20240913_155707.jpg" alt="" width="auto" height="500px">
</div>





