@page "/"

<PageTitle>Inicio</PageTitle>

<h4 class="text2"><i class="fa-solid fa-code"></i> Selecciona el ejercicio que quieres visualizar</h4>


<div class="divscontainer">
    <h5>Ejercicio 2</h5>
    <p>Retorne sus dos ultimos digitos</p>
    <NavLink href="Ej02">Probar</NavLink>
</div>

<div class="divscontainer">
    <h5>Ejercicio 4</h5>
    <p>Retorne la cantidad de digitos pares</p>
    <NavLink href="Ej04">Probar</NavLink>
</div>

<div class="divscontainer">
    <h5>Ejercicio 6</h5>
    <p>Retorne el caracter al cual pertenece ese entero como codigo ascci</p>
    <NavLink href="Ej06">Probar</NavLink>
</div>

<div class="divscontainer">
    <h5>Ejercicio 8</h5>
    <p>Retorne 1 si dicho elemeto esta entre los 30 primeros elementos de la serie de fibonacci, si no retorna 0</p>
    <NavLink href="Ej08">Probar</NavLink>
</div>

<div class="divscontainer">
    <h5>Ejercicio 10</h5>
    <p>construir una función que reciba un número entero y retorne el primer dígito de ese número</p>
    <NavLink href="Ej10">Probar</NavLink>
</div>

<div class="divscontainer">
    <h5>Ejercicio 12</h5>
    <p>Verifica si un dígito está en un entero</p>
    <NavLink href="Ej12">Probar</NavLink>
</div>

<div class="divscontainer">
    <h5>Ejercicio 14</h5>
    <p>Retorna el mayor de dos enteros.</p>
    <NavLink href="Ej14">Probar</NavLink>
</div>

<div class="divscontainer">
    <h5>Ejercicio 16</h5>
    <p>Verifica si un número corresponde al código ASCII de una letra minúscula.</p>
    <NavLink href="Ej16">Probar</NavLink>
</div>

<div class="divscontainer">
    <h5>Ejercicio 18</h5>
    <p>Verifica si un número es el factorial de un dígito.</p>
    <NavLink href="Ej18">Probar</NavLink>
</div>

<div class="divscontainer">
    <h5>Ejercicio 20</h5>
    <p>Verifica si todos los dígitos de un número son iguales.</p>
    <NavLink href="Ej20">Probar</NavLink>
</div>

<div class="divscontainer">
    <h5>Ejercicio 22</h5>
    <p> Verifica si un número es múltiplo de 5.</p>
    <NavLink href="Ej22">Probar</NavLink>
</div>

<div class="divscontainer">
    <h5>Ejercicio 24</h5>
    <p>Verifica si dos números de dos dígitos son inversos.</p>
    <NavLink href="Ej24">Probar</NavLink>
</div>

<div class="divscontainer">
    <h5>Ejercicio 26</h5>
    <p>Encuentra el mayor número en un vector de enteros.</p>
    <NavLink href="Ej26">Probar</NavLink>
</div>

<div class="divscontainer">
    <h5>Ejercicio 28</h5>
    <p>Cuenta la cantidad de números primos en un vector de enteros.</p>
    <NavLink href="Ej28">Probar</NavLink>
</div>

<div class="divscontainer">
    <h5>Ejercicio 30</h5>
    <p>Retorna la posición del mayor número primo en un vector de enteros.</p>
    <NavLink href="Ej30">Probar</NavLink>
</div>

<div class="divscontainer">
    <h5>Ejercicio 32</h5>
    <p>Calcular el promedio de un vector de 10 enteros</p>
    <NavLink href="Ej32">Probar</NavLink>
</div>

<div class="divscontainer">
    <h5>Ejercicio 34</h5>
    <p>Encontrar la posición del número con mayor cantidad de dígitos en un vector</p>
    <NavLink href="Ej34">Probar</NavLink>
</div>

<div class="divscontainer">
    <h5>Ejercicio 36</h5>
    <p>Obtener el elemento de la serie de Fibonacci</p>
    <NavLink href="Ej36">Probar</NavLink>
</div>

<div class="divscontainer">
    <h5>Ejercicio 38</h5>
    <p>Contar números que terminan en 3 en un vector de enteros</p>
    <NavLink href="Ej38">Probar</NavLink>
</div>

<div class="divscontainer">
    <h5>Ejercicio 40</h5>
    <p>Contar números que terminan en un dígito específico en un vector de enteros</p>
    <NavLink href="Ej40">Probar</NavLink>
</div>

<div class="divscontainer">
    <h5>Ejercicio 42</h5>
    <p>Contar la cantidad de veces que se repite el mayor dato en una matriz 3x4</p>
    <NavLink href="Ej42">Probar</NavLink>
</div>

<div class="divscontainer">
    <h5>Ejercicio 44</h5>
    <p>Contar la cantidad de veces que se repite el mayor número primo en una matriz 3x4</p>
    <NavLink href="Ej44">Probar</NavLink>
</div>




