@page "/acerca_de"

<PageTitle>Sobre Mi</PageTitle>

<h2>Tarea 5</h2>
<br>
<h4>Jose Manuel Santillan</h4>
<h4>Matricula: 2023-1156</h4>
<br>
<br>
<br>


<img src="img/IMG_20240913_155707.jpg" alt="Jose Manuel" width="400">

<style>
    img{

        transform: rotate(90deg);
    }
</style>

<br>
<br>
<br>    
