@inherits LayoutComponentBase

<header class="poppins-thin">
    
    <nav>
        <h4><a href="/">Segundo parcial</a></h4>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="registrarVisita">Registrar Nuevo</a></li>
        </ul>
    </nav>
</header>

<div>
    <main class="poppins-thin">
        @Body
    </main>
</div>

<footer class="footer text-muted">
    &copy; JoseManuel 2023-1156 / todos los derechos reservados 2024
</footer>

@code {

}
