@inherits LayoutComponentBase
@using Tarea9.web.Components.Models
@inject EstadoCompartido Estado

<header class="open-sans header">
    <nav>
        <h3>
            <a id="linkDinamico" class="h3-link" href="@Estado.Link">
                <i class="fa-solid fa-gamepad"></i>DVJ
            </a>
        </h3>
        <ul>
            <li>
                <a id="botonDinamico" class="link btn @Estado.ClasebotonDinamico" href="@Estado.BotonDinamico">
                    @Estado.ValueBotonDinamico
                </a>
            </li>
        </ul>
    </nav>
</header>




<main class="body">
    @Body
</main>


@code {
  

}