@inherits LayoutComponentBase

<header class="architects-daughter-regular-bold">
    <nav>
        <h3>*********</h3>
        <ul>
            <li>
                <a class="link" href="login">Login</a>
            </li>
            <li>
                <a class="link" href="singIn">Sinin</a>
            </li>
            <li>
                <a class="link" href="dashboard">dasboard</a>
            </li>
        </ul>
    </nav>

</header>


<section class="bodydad">
    <main class="body architects-daughter-regular">@Body</main>
</section>

@code {

}