@inherits LayoutComponentBase
@using Tarea9.web.Components.Models
@inject EstadoCompartido Estado

<header class="nunito-normal-bold">
    <nav>
        <h3><a class="h3" href="@Estado.Link">Diario de Video Juegos</a> </h3>
        <ul>
            
            <li>
                <a class="link" href="acercade"><i class="fa-solid fa-address-card"></i> Acerca De</a>
            </li>
        </ul>
    </nav>

</header>



<main class="body nunito-normal">
    @Body
</main>


@code {
    

    
}