@inherits LayoutComponentBase

<header class="silkscreen-regular header">
    <h3><a href="/">Regresar</a></h3>
</header>

<main class="silkscreen-regular main">
    <section>
        @Body
    </section>
</main>

<footer class="silkscreen-regular footer border-top text-muted">
    &copy; 2024-Itla-20231156-JoseManuel
</footer>