@inherits LayoutComponentBase

<header class="afacad-flux-fonts">
    <nav>
        <h2>Tarea 4</h2>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="entidad/libros">Libros</a></li>
            <li><a href="entidad/peliculas">Peliculas</a></li>
            <li><a href="entidad/series">Series</a></li>
            <li><a href="personajes">Personajes</a></li>
        </ul>
    </nav>
</header>

<main class="afacad-flux-fonts main">
    <section>
        @Body
    </section>
</main>

<footer class="afacad-flux-fonts footer border-top text-muted">
    &copy; 2024-Itla-20231156-JoseManuel
</footer>