@page "/AcercaDe"

<PageTitle>Acerca de</PageTitle>

<h3>Acerca de</h3>

<div style="text-align: center;">
    
    <img src="../../img/IMG_20240913_155707.jpj" alt="Foto 2x2" style="width: 150px; height: 150px; border-radius: 50%;">

    
    <p><strong>Nombre:</strong> José Manuel Santillan</p>
    <p><strong>Matrícula:</strong> 20231156</p>

    
    <p><strong>Enlace para chatear:</strong></p>
    <p>
        <a href="https://wa.me/####" target="_blank">WhatsApp</a> | 
        <a href="https://t.me/jose_M1156" target="_blank">Telegram</a>
    </p>

   
    <p><strong>Correo electrónico:</strong> <a href="mailto:20231156@itla.edu.do">20231156@itla.edu.do</a></p>

    
    <p><strong>Descripción:</strong> Me gustaría dedicarme a ser ingeniero de software al terminar en el ITLA.</p>
</div>


