@page "/"

<PageTitle>Inicio</PageTitle>

<h1>Inicio</h1>
<br/>
<h3>Hola, bienbenidos/a esta página web, gracias por ver esta tarea</h3
<br/>

<i class="bi bi-quote">Primero aprende ciencia de la computación y toda la teoría. Después desarrolla un estilo de programación. Finalmente olvida todo y simplemente hackea.
- George Carrette</i>

