@page "/Ej16"
@rendermode InteractiveServer

<PageTitle>Ejercicio 16</PageTitle>

<h3>Ejercicio 16</h3>

<p>Verificar si un entero es el código ASCII de una letra minúscula</p>

<div class="form-group">
    <label for="txtNumero">Número</label>
    <input type="number" class="form-control" id="txtNumero" @bind="numero" />
</div>

<div class="form-group">
    <button class="btn btn-primary" @onclick="Calcular">Calcular</button>
</div>

<div class="form-group">
    Resultado: @resultado
</div>

@code{
    private int numero = 0;
    private string resultado = "";

    private void Calcular(){
        if (numero >= 97 && numero <= 122){
            resultado = "1";  
        } else {
            resultado = "0";  
        }
    }
}
