@page "/Ej26"
@rendermode InteractiveServer

<PageTitle>Ejercicio 26</PageTitle>

<h3>Ejercicio 26</h3>

<p>Construir una función que reciba como parámetro un vector de 10 posiciones enteras y retorne el mayor de los datos del vector.</p>

<div>
    <label>Ingresa 10 números enteros separados por comas:</label>
    <input type="text" @bind="inputVector" />
</div>

<div class="form-group">
    <button class="btn btn-primary" @onclick="Calcular">Calcular</button>
</div>

<div class="form-group">
    Mayor número: @resultado
</div>

@code{
    private string inputVector = "";
    private string resultado = "";

    private void Calcular(){
        var numeros = inputVector.Split(',').Select(int.Parse).ToArray();
        resultado = numeros.Max().ToString();  
    }
}
