@page "/Ej40"
@rendermode InteractiveServer

<PageTitle>Ejercicio 40</PageTitle>

<h3>Ejercicio 40</h3>

<p>Construir una función que reciba como parámetro un vector de 10 posiciones enteras y un digito y que retorne la cantidad de números del vector que terminan en dicho dígito</p>

<div>
    <label>Ingresa 10 números enteros separados por comas:</label>
    <input type="text" @bind="inputVector" />
</div>

<div class="form-group">
    <label for="txtDigito">Dígito</label>
    <input type="number" class="form-control" id="txtDigito" @bind="digito" />
</div>

<div class="form-group">
    <button class="btn btn-primary" @onclick="Calcular">Calcular</button>
</div>

<div class="form-group">
    Cantidad de números terminados en @digito: @resultado
</div>

@code{
    private string inputVector = "";
    private int digito = 0;
    private string resultado = "";

    private void Calcular(){
        var numeros = inputVector.Split(',').Select(int.Parse).ToArray();
        resultado = numeros.Count(n => n % 10 == digito).ToString();
    }
}
